body{
  background-color: #52B2CF;
}
h1{
  font-size:400%;
  letter-spacing:1px;
  color:#C2FCF7;
  text-decoration: overline;
  text-decoration-color: #57737A;
  font-family: "Arial";
}
p{
  font-size:270%;
  font-family: "Brush Script MT";
  color:#3C304B;
}
img{
  width:600px
  
}
iframe{
  
}
ul{
  text-align: center;
  list-style-type: none;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding:10px;
  color:#12687D;
  text-decoration:none;
  font-family: "Brush Script MT";
  border: ridge;
}
li a:hover{
  background-color:#00BD9D;
  color:#8BD7D2;
}
p1{
  font-size:300%;
  text-align: center;
}
